REDIS_URL=redis://localhost:6379

AI_API_KEY=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

DATABASE_URL=postgresql://databuddy:databuddy_dev_password@localhost:5432/databuddy

OPR_API_KEY=""
RESEND_API_KEY=""

NEXT_PUBLIC_API_URL=http://localhost:3001
AUTUMN_SECRET_KEY=""
